html {
  font-size: 20px; }

body {
  margin: 0;
  /*text-align: center;*/ }

h1, h2, h3, h4, p {
  margin: 0; }

.navbar, .navbar ul, #welcome-section, #welcome-section .welcome-text, #project-section, #project-section .projects, #project-section .project, #project-section .show-all, #contact, #contact .contact-links, #contact .sphere, footer {
  display: flex;
  align-items: center;
  justify-content: center; }

/*Navbar styling*/
.navbar {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  height: 3em;
  width: 100%;
  background: #e0ebe8;
  z-index: 999; }
  .navbar ul {
    list-style-type: none;
    user-select: none; }
    .navbar ul li {
      padding: 0 2.5em; }
      @media (max-width: 550px) {
        .navbar ul li {
          padding: 0 10px; } }
      .navbar ul li a {
        color: #008080;
        text-decoration: none; }
      .navbar ul li a:hover {
        /*color: limegreen; */
        /*Alernative highlighting strategy */
        color: green;
        border-bottom: 1px solid; }
    .navbar ul .border-right {
      border-right: 1px solid; }

/*Welcome section styling*/
#welcome-section {
  flex-direction: column;
  align-items: flex-end;
  height: 91vh;
  margin-top: 9vh;
  background: url(/assets/long-crop6-resize1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  background-position-y: 0%; }
  #welcome-section .welcome-text {
    flex-direction: column;
    margin-right: 15vw; }
    #welcome-section .welcome-text p {
      color: white; }
  #welcome-section a {
    align-self: center;
    position: absolute;
    margin-top: 43vh;
    color: white;
    font-weight: bold;
    text-decoration: none; }
  @media (max-width: 700px) {
    #welcome-section .welcome-text {
      margin-right: 5vw; } }
  @media (max-height: 550px) {
    #welcome-section {
      font-size: .8em; } }

/*Projects section styling*/
#project-section {
  flex-direction: column; }
  #project-section h1 {
    margin: 2em 0 2em;
    color: #008080;
    font-weight: normal; }
  #project-section .projects {
    flex-wrap: wrap; }
  #project-section .project {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 3em 2em 3em;
    border: 0.2em solid #90C695;
    border-radius: .5em;
    color: #008080;
    text-decoration: none; }
    #project-section .project .project-image {
      opacity: 1;
      margin-bottom: .5em;
      border-bottom: 0.2em solid #90C695;
      height: 8em;
      width: 12em;
      border-top-right-radius: .3em;
      border-top-left-radius: .3em;
      background-color: white; }
    #project-section .project .overlay {
      opacity: 0;
      position: absolute;
      margin-bottom: .5em;
      border-bottom: 0.2em solid #90C695;
      height: 8em;
      width: 12em;
      color: white;
      border-top-right-radius: .3em;
      border-top-left-radius: .3em;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity .5s ease-in; }
    #project-section .project .overlay:hover {
      opacity: 1; }
    #project-section .project .project-title {
      margin-bottom: .5em; }
  #project-section .show-all {
    margin: 1em auto 5em;
    border: 2px solid #90C695;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    text-decoration: none; }
  #project-section .show-all:hover {
    background: #e4f1fe;
    color: green; }

/*Contact section styling*/
#contact {
  flex-direction: column;
  background: #C8F7C5; }
  #contact h1 {
    margin-top: 2em; }
  #contact p {
    margin-bottom: 5em;
    color: #008080; }
  #contact .contact-links {
    flex-wrap: wrap;
    margin-bottom: 10em; }
  #contact .sphere {
    margin: 0 2em 1em;
    height: 5em;
    width: 5em;
    border: 1px solid #90C695;
    border-radius: 50px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    text-decoration: none; }
  #contact .sphere:hover {
    background: #e4f1fe;
    color: green; }

footer {
  flex-direction: column;
  padding: 2em 0;
  background: #22313F;
  color: white; }
  footer a {
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
    text-decoration: none; }
  footer .blurb {
    margin-bottom: 2em; }

/* MAKE RESPONSIVE TO PHONE SCREEN WIDTH, REBUILD WITH FLEXBOX/GRID, ADD FONT STYLE */
