html {
  font-size: 20px;
  scroll-behavior: smooth; }

body {
  margin: 0;
  /*text-align: center;*/ }

h1, h2, h3, h4, p {
  margin: 0; }

.navbar, .navbar ul, #welcome-section, #project-section, #project-section .projects, #project-section .project, #project-section .show-all, #contact, #contact .contact-links, #contact .sphere, footer {
  display: flex;
  align-items: center;
  justify-content: center; }

/*Navbar styling*/
.navbar {
  justify-content: flex-end;
  position: fixed;
  height: 3em;
  width: 100%;
  background: #e0ebe8;
  z-index: 999; }
  .navbar ul {
    list-style-type: none;
    user-select: none; }
    .navbar ul li {
      padding: 0 2.5em; }
      @media (max-width: 550px) {
        .navbar ul li {
          padding: 0 10px; } }
      .navbar ul li a {
        color: #008080;
        text-decoration: none; }
      .navbar ul li a:hover {
        color: green; }
    .navbar ul .border-right {
      border-right: 1px solid; }

/*Welcome section styling*/
#welcome-section {
  flex-direction: column;
  height: 100vh;
  background: #e0ebe8; }
  #welcome-section p {
    color: #008080; }

/*Projects section styling*/
#project-section {
  flex-direction: column; }
  #project-section h1 {
    margin: 3em 0 2em;
    color: #008080;
    font-weight: normal; }
  #project-section .projects {
    flex-wrap: wrap; }
  #project-section .project {
    flex-direction: column;
    margin: 0 3em 2em 3em;
    border: 0.2em solid #90C695;
    border-radius: .5em;
    color: #008080;
    text-decoration: none; }
    #project-section .project .project-image {
      margin-bottom: .5em;
      padding: .5em;
      border-bottom: 0.2em solid #90C695;
      height: 8em;
      width: 12em; }
    #project-section .project .project-title {
      margin-bottom: .5em; }
  #project-section .show-all {
    margin: 1em auto 5em;
    border: 2px solid #90C695;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    text-decoration: none; }
  #project-section .show-all:hover {
    background: #e4f1fe;
    color: green; }

/*Contact section styling*/
#contact {
  flex-direction: column;
  background: #C8F7C5; }
  #contact h1 {
    margin-top: 4em; }
  #contact p {
    margin-bottom: 5em;
    color: #008080; }
  #contact .contact-links {
    flex-wrap: wrap;
    margin-bottom: 10em; }
  #contact .sphere {
    margin: 0 2em 1em;
    height: 5em;
    width: 5em;
    border: 1px solid #90C695;
    border-radius: 50px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    text-decoration: none; }
  #contact .sphere:hover {
    background: #e4f1fe;
    color: green; }

footer {
  flex-direction: column;
  padding: 2em 0;
  background: #22313F;
  color: white; }
  footer .blurb {
    margin-bottom: 2em; }

/*FIX SECTION LINKS*/
