
/*Variables*/
$color1: #e0ebe8;
$color2: #008080;
$color3: #90c695;
$color4: #C8F7C5;
$color5: #e4f1fe;


/*Element styling*/
html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}


/*Reusable classes*/
%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color4-accent {
  color: $color4;
}
.green-accent {
  color: forestgreen;
  font-weight: bold;
}
.display-none {
  display: none;
}


/*Tooltip styling*/
[tooltip]:before {
  opacity: 0;
  position: absolute; //Needed for Firefox
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 .2em 0 $color5;
  border-radius: .5em;
  width: max-content;
  width: -moz-max-content; //Needed for Firefox
  padding: .5em;
  background-color: $color2;
  color: $color4;
  font-size: .8em;
  content: attr(tooltip);
  transition: all 0.15s ease;
  transition-delay: .3s;
  pointer-events: none;
}
[tooltip]:hover:before {
  opacity: 1;
  bottom: 3.3em;
  background-color: $color2;
}


/*Animations*/

@keyframes bounce-down {
  80% {
    bottom: 1em;
  }
  90% {
    bottom: 0;
  }
  100% {
    bottom: 1em;
  }
}


/*Navbar styling*/

.navbar {
  @extend %flex-centered;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0 -.1em 4px -1px $color3 inset;
  /*width: 100vw;*///test with mobile
  width: 100%;
  background: $color4;
  z-index: 999;
  a.home-link {
    padding: .5em 1em .5em;//new
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $color2;
    &:hover {
      color: green;
    }
  }
  .nav-bars {
    display: none;
    position: absolute;
    right: 0;
    top: 0; //Added for Firefox
    padding: .5em 1em .5em;
    color: $color2;
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
  ul {
    list-style-type: none;
    li {
      a {
        color: $color2;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: green;
        }
      }
    }
  }
  ul.nav-links {
    @extend %flex-centered;
    li {
      padding: 0 4vw;
      a {
        &:hover {
          border-bottom: 2px solid;
        }
      }
      &.about-link, &.project-link {
        border-right: 1px solid black;
      }
    }
  }
  .mobile-menu {
    display: none;
    position: relative;
    width: 100%;
    ul {
      li {
        //This might be better substitutes for cascading width: 100% declarations
        //as it may be the cause of the sid gap.
        width: 100%;
        background-color: $color4;
        text-align: center;
        &.about-link, &.project-link {
          box-shadow: 0 .1em 4px -1px $color3 inset;
        }
        &.contact-link {
          box-shadow: 0 -.1em 4px -1px $color3 inset, 0 .1em 4px -1px $color3 inset;
        }
        &:hover {
          background-color: $color5;
        }
        a {
          display: block;
          padding: .5em 0;
        }
      }
    }
    .menu-collapser-overlay {
      position: absolute;
      top: 0;
      left: 0; //probably needed for Firefox and IE TESTME
      height: 100vh;
      width: 100%;
      opacity: 0.4;
      background-color: black;
      z-index: -1;
    }
  }
}




/*Welcome section styling*/


#welcome-section {
  position: relative;
  @extend %flex-centered;
  height: 100vh;
  background-blend-mode: multiply;
  background-color: $color2;
  background-image: url(/assets/gplay.png);
  .profile-pic {
    margin-right: 4vw;
    min-width: 16em;
    max-width: 16em;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 .5em .1em rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 .5em .1em rgba(0, 0, 0, 0.5);
  }
  .welcome-text {
    @extend %flex-centered;
    flex-direction: column;
    margin-left: 4vw;
    color: $color5;
    font-size: 1.7em;
    p {
      font-size: .7em;
    }
  }
  .scroll-down-link {
    @extend %flex-centered;
    position: absolute;
    bottom: 1em; //Better than using margin-top for Firefox
    left: 50%; //Needed for Firefox;
    color: $color4;
    text-decoration: none;
    animation: bounce-down 2s infinite;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    &:hover {
      animation: none;
    }
  }
  .down-arrow {
    font-size: 2em;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    &:hover {
      animation: none;
      font-size: 2.2em;
    }
  }
}


/*About section styling*/

#about-section {
  @extend %flex-centered;
  background-color: $color5;
  .about-text {
    @extend %flex-centered;
    flex-direction: column;    
    margin: 4em 1.5em;
    text-align: justify;
    h1 {
      font-size: 2em;
      color: $color2;
    }
    h1.statement {
      margin-bottom: 2em;
      border-left: 5px solid $color2;
      padding-left: .5em;
      width: 85vw;
    }
    p.summary {
      width: 85vw;
      font-size: 1.3em;
      margin: 0 1em 3em;
      line-height: 1.5em;
    }
    h1.skills {
      margin-bottom: 1em;
    }
    ul {
      columns: 3;
      -moz-columns: 3; //Needed for Firefox
      margin: 0 3em 0 5em;
      li {
        @extend %flex-centered;
        margin-bottom: 1em;
        color: $color2;
        font-size: 1.3em;
        font-weight: bold;
      }
      .bullet {
        margin-right: .5em;
        color: $color2;
        color: forestgreen;
      }
      .skill {
        @extend %flex-centered;
        justify-content: flex-start;
        height: 2em;
        width: 6em;
      }
    }
  }
}


/*Projects section styling*/

#project-section {
  @extend %flex-centered;
  flex-direction: column;
  background-color: $color2;
  h1.project-heading {
    margin: 1.5em 0;
    color: $color4;
    font-size: 2em;
  }
  .projects {
    @extend %flex-centered;
    flex-wrap: wrap;
    max-width: 53em; /*prevents more than 3 rows on wider screen sizes*/
    width: 100%; //Needed for flex-wrap for IE;
    margin-bottom: 3em;
    .project {
      position: relative; //Needed for FIrefox
      @extend %flex-centered;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 .5em 1em .5em;
      border: .2em solid $color3;
      border-radius: .5em;
      box-shadow: 0 0 .5em .1em rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 .3em .1em rgba(0, 0, 0, 0.5);
      width: 16em;
      color: $color2;
      background-color: $color5;
      a {
        @extend %flex-centered;
        text-decoration: none;
      }
      a.overlay {
        opacity: 0;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        left: 0; //Needed for FIrefox
        top: 0; //Needed for FIrefox
        border-top-right-radius: .3em;
        border-top-left-radius: .3em;
        height: 10em;
        width: 16em;
        background-color: rgba(0, 0, 0, 0.8);
        color: $color4;
        transition: opacity .5s ease-out; 
        h3 {
          margin: .5em 0;
        }
        &:hover {
          opacity: 1;
        }
      }
      img.project-image {
        margin-bottom: .5em;
        border-top-right-radius: .3em;
        border-top-left-radius: .3em;
        border-bottom: .2em solid $color3;
        height: 10em;
        width: 16em;
      }
      h4.project-title {
        margin-bottom: .5em;
      }
      p.project-summary {
        margin-bottom: 1em;
        height: 4em;
        width: 100%; //Needed for IE
        padding: 0 .5em;
        box-sizing: border-box; //Needed for padding to work with width: 100%
        text-align: center;
      }
      .project-buttons {
        @extend %flex-centered;
        justify-content: space-around;
        margin-bottom: .5em;
        width: 100%;
        a.project-link {
          position: relative; //Needed for tooltip for Firefox 
          border: 2px solid $color3;
          border-radius: 50%;
          padding: .2em;
          width: 2em;
          height: 2em;
          background-color: $color1;
          color: $color2;
          span.demo-link {
            margin-left: .2em;
          }
          span.github-link {
            font-size: 1.4em;
          }
          &:hover {
            background: $color4;
            color: green;
          }
        }
      }
    }
  }
}

/*Contact section styling*/

#contact-section {
  @extend %flex-centered;
  flex-direction: column;
  background: $color5;
  h1.contact-heading {
    margin-top: 2em;
    color: $color2;
    font-size: 2em;
  }
   p.contact-sub-heading {
    margin-bottom: 4em;
    color: $color2;
  }
  .contact-links {
    @extend %flex-centered;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4em;
  }
  .contact-method {
    @extend %flex-centered;
    margin-bottom: 2em;
    a {
      color: $color2;
      text-decoration: none;
    }
    a.contact-button {
      position: relative;
      @extend %flex-centered;
      height: 2.5em;
      width: 2.5em;
      border: .1em solid $color3;
      border-radius: 50%;
      background: $color1;
      &:hover {
        background: $color4;
        color: green;
      }
      .mail-icon {
        font-size: 1.1em;
      }
      .github-icon {
        font-size: 1.3em;
      }
      .linkedin-icon {
        font-size: 1.2em;
      }
    }
    a.contact-link {
      margin-left: 1em;
      height: 1.3em;
      box-sizing: border-box;
      &:hover {
        border-bottom: .1em solid;
        color: forestgreen;
      }
    }
  }
}


footer {
  @extend %flex-centered;
  flex-direction: column;
  background: $color2;
  color: $color4;
  a.scroll-up-link {
    position: relative; //Needed for tooltip for Firefox
    @extend %flex-centered;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
    color: $color4;
    text-decoration: none;
  }
  span.up-arrow {
    font-size: 2em;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    &:hover {
      font-size: 2.1em;
    }
  }
  p.copywright {
    margin-bottom: 2em;
  }
}


/*Media Queries*/

/*Desktops*/
@media (min-width: 1281px) {}
/*Laptops, Desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {}
/*Tablets, Ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {}
/*Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
/*Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 480px) and (max-width: 767px) {
  #welcome-section {
    font-size: .6em;
    .scroll-down-link {
      font-size: 1.5em;
    }
  }
  #about-section {
    .about-text {
      font-size: .75em;
      ul {
        columns: 2;
        margin-left: 8em;
      }
    }
  }
}
/*Most of the Smartphones Mobiles (Portrait)*/
@media (min-width: 320px) and (max-width: 479px) {
  .navbar {
    flex-direction: column;
    a.home-link {
      align-self: flex-start;
    }
    .nav-bars, .mobile-menu {
      display: unset;
    }
    ul.nav-links {
      display: none;
    }
  }
  #welcome-section {
    flex-direction: column;
    font-size: .6em;
    .profile-pic {
      margin: 0 0 2em;
    }
    .scroll-down-link {
      font-size: 1.5em;
    }
  }
  #about-section {
    .about-text {
      font-size: .6em;
      ul {
        columns: 2;
        -moz-columns: 2; //Needed for Firefox
        margin-left: 8em;
      }
    }
  }
  #project-section, #contact-section, footer {
    font-size: .8em;
  }
  footer {
    a.scroll-up-link {
      font-size: 1.2em;
    }
  }
}



/*FIX SIDE GAP*/
/*FIX MENU SCRUCHING WHILE SCROLLING ON MY PHONE*/
/*CHECK CROSS BROWSER COMPATIBILITY*/
/*ADD CORRECT PROJECT LINKS*/
/*FIGURE OUT WHY SCROLL LINKS STOP WORKING WHEN AT THE BOTTOM OF THE PAGE (SOMETHING TO DO WITH SETUP FUNCTION)*/
