
$color1: #e0ebe8;
$color2: #008080;

html {
  font-size: 20px;
}
body {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, p {
  margin: 0;
}


/*Navbar styling*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  height: 3em;
  width: 100%;
  background: $color1;
  z-index: 999;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0 2.5em;
      @media (max-width: 550px) {
        padding: 0 10px;
      }
      a {
        color: $color2;
        text-decoration: none;
      }
      a:hover {
        color: green;
      }
    }
    .border-right {
      border-right: 1px solid;
    }
  }
}


/*Welcome section styling*/

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $color1;
  p {
    color: $color2;
  }
}
/*USING THIS WHILE TRYING TO FIGURE OUT HOW TO BEST SPACE BETWEEN SECTION AND SUPPORT LINKS */
#projects-tab {
  height: 4em;
  background-color: aquamarine;
}


/*Projects section styling*/

#projects {
  h1 {
    margin-bottom: 2em;
    color: $color2;
    font-weight: normal;
  }
  .project {
    display: inline-block;
    margin: 0 100px 50px 100px;
    border: .2em solid lightblue;
    border-radius: .5em;
    color: $color2;
    text-decoration: none;
    .project-image {
      margin-bottom: .5em;
      padding: .5em;
      border-bottom: .2em solid lightblue;
      height: 8em;
      width: 12em;
    }
    .project-title {
      margin-bottom: .5em;
    }
  }
  .show-all {
    display: block;
    margin: 1em auto 5em;
    border: 2px solid #90C695;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background: #e0ebe8;
    color: $color2;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
  }
  .show-all:hover {
    background: #e4f1fe;
    color: green;
  }
}

/*Contact section styling*/

#contact {
  /*min-height: 100vh; TRY THIS INSTEAD OF PADDING*/
  padding: 5em 0;
  background: #C8F7C5;
  h1 {
  }
   p {
    margin-bottom: 5em;
  }

  .sphere {
    display: inline-block;
    margin: 0 50px 50px 50px;
    border: 1px solid #90C695;
    border-radius: 50px;
    height: 5em;
    width: 5em;
    background: $color1;
    color: $color2;
    font-weight: bold;
    line-height: 100px;
    text-decoration: none;
  }
  .sphere:hover {
    background: #E4F1FE;
    color: green;
  }
}


footer {
  padding: 25px 0;
  background: #22313F;
  color: white;
  font-size: 20px;
  line-height: 50px;
}

/*FIX SECTION LINKS*/