
$color1: #e0ebe8;
$color2: #008080;

body {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

/*Navbar styling*/

.navbar {
  position: fixed;
  top: 0;
  margin-bottom: 50px;
  height: 60px;
  width: 100%;
  background: $color1;
  z-index: 999;
  ul {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
    width: 500px;
    @media (max-width: 550px) {
      width: 250px;
    }
    li {
      display: inline;
      padding: 0 50px;
      font-size: 20px;
      @media (max-width: 550px) {
        padding: 0 10px;
      }
      a {
        color: $color2;
        text-decoration: none;
      }
      a:hover {
        color: green;
      }
    }
    .border-right {
      border-right: 1px solid;
    }
  }
}


/*Welcome section styling*/

#welcome-section {
  margin-bottom: 50px;
  height: 100vh;
  background: $color1;
  .welcome-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 2em;
      line-height: 10px;
    }
    p {
      color: $color2;
      line-height: 10px;
    }
  }
}


/*Projects section styling*/

#projects {
  h1 {
    margin-bottom: 50px;
    color: $color2;
    font-weight: normal;
  }
}
.project-title {
  display: inline-block;
  margin: 0 100px 50px 100px;
  border: 2px solid lightblue;
  height: 200px;
  width: 250px;
  color: $color2;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}
.project-image {
  border-bottom: 2px solid lightblue;
  height: 160px;
  width: 100%;
}
.show-all {
  display: block;
  margin: 25px auto 100px;
  border: 2px solid #90C695;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background: #e0ebe8;
  color: $color2;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.show-all:hover {
  background: #e4f1fe;
  color: green;
}

/*Contact section styling*/

#contact {
  background: #C8F7C5;
  padding: 150px 0;
  h1 {
    font-size: 1.7em;
   }
   p {
    margin-bottom: 100px;
    font-size: 20px;
  }
  .sphere {
    display: inline-block;
    margin: 0 50px 50px 50px;
    border: 1px solid #90C695;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background: #e0ebe8;
    color: $color2;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    text-decoration: none;
  }
  .sphere:hover {
    background: #E4F1FE;
    color: green;
  }
}


footer {
  padding: 25px 0;
  background: #22313F;
  color: white;
  font-size: 20px;
  line-height: 50px;
}